body {
    font-family: Montserrat,sans-serif;
    line-height: 26px;
    font-weight: 400;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}
a,a:hover{
    text-decoration:none !important;
    color:#5a5c51 !important;
    outline: 0!important;
}
h4,h2,h3{
    color:#5a5c51 !important;
}
.heade:active{
    content: '';
    display: block;
    height: 3px;
    margin:auto;
    width:100%;
    background: transparent;
    transition: all .3s ease;
}
.heade:after {
    content: '';
    display: block;
    height: 3px;
    margin:auto;
    width:0;
    background: transparent;
    transition: all .3s ease;
}
.heade:hover,.heade:focus,.heade:active{
    transform:scale(1.1);
    transition: all .3s ease;
    color:red;
  }
  .heade:hover:after,.heade:focus:after {
  width:100%;
  background:red;
  }
.navbar{
    background-color: black!important;
}
.navbar-nav{
    overflow-y: hidden!important;
    overflow-x: hidden!important;
    background-color: black!important;
}
.set-navbar {
    height: 100px;
    border-bottom: 0px;
}
.scrollable{
    font-family: Helvetica, sans-serif;
    padding-top:40px!important;
}
.makeitwhite{
    color:white!important;
}
.makeitred{
    color:red!important;
}
.makeitgrey{
    color:#5a5c51!important;
}
.logo img{
    height: 80px;
    width: 194px;
}
.carousel-inner{
    width: 100%!important;
    height: 80%;
    margin:auto;
}
.main #myCarousel {
    width: 80%;
}
.main #myCarousel .carousel-inner .item{
    height: 250px;
}
/*filler PAGE starts HERE 
.parallax {
    background-image: url('../banner2.jpg'); 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .jumbotron{
        width:65%!important;
    }
    
}
.filler{
    margin-top:90px!important;
}
.filler hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(209, 209, 209);
    margin: auto;
    padding: 0; 
    width:70%;
}
.heading2{
    font-family: 'Work Sans', sans-serif;
    color:black;
    font-size:60px!important;
}
.whiteWork{
    font-family: 'Work Sans', sans-serif;
    color:white;
    font-size:30px;
    font-weight: bold!important;
}
.blackWorkbold{
    font-family: 'Work Sans', sans-serif;
    color:black;
    font-size:30px;
    font-weight: bold!important;
}
.blackWork{
    font-family: Helvetica, sans-serif;
    color:black;
    font-size:18px;
}
.details{
    font-family: Helvetica, sans-serif;
    color:#5a5c51;
    font-size:30px;
}
.navhead{
    font-family: 'Arimo', sans-serif;
    color:white!important;
    font-size:15px;
}
.filler .intro .jumbotron{
    
    margin-top:-80px;
    font-family: 'Nunito', sans-serif;
    color:#5a5c51;
}

.filler .intro .jumbotron:hover {
    box-shadow: 0 15px 20px 0 rgba(0,0,0,0.3);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	background-color:white;
	height:100%!important;
    width:100%!important;
    margin:auto;
}
.card p{
    font-family: 'Work Sans', sans-serif;
    color:#5a5c51;
    font-size:16px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {

}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(255, 0, 0,0.9);;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .card:hover .overlay {
    bottom: 0;
    height: 100%;
    margin:auto;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color:white;
        height:50%!important;
        width:50%!important;
        margin:auto;
    }
}
.blogTile{
    height:200px;
    transition: 0.3s;
}
.blogTile:hover{
    transform:scale(1.5)!important;
    transition: 0.3s!important;
    z-index: 2;
}

/* #b0aac2  #b56969  #fae596  #3fb0ac  #173e43 */

/* Footer starts here*/
#map{
    width: 100%;
    height: 150px;
    background-color: grey;
    padding :30px;
}
.footer{
    height:250px;
    width:100%;
}
.footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(209, 209, 209);
    margin: auto;
    padding: 0; 
    width:70%
}
.carimg{
    height:100%!important;
    margin:auto;
}
.padding10{
    padding:10px;
    transition:all 0.3s;
}
.padding10:hover{
    color:red!important;
}
.subscribe input[type="email"]{
    background: none;
    border: none;
    border-bottom: solid 2px red;
    color: #5a5c51;
    width:50%;
    font-size: 18px;
}
.subscribe input[type="submit"] {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background:white;
    border: solid 1px #5a5c51;
    color: #5a5c51;
    transition: 0.3s ease;
    cursor: pointer;
}
.subscribe input[type="submit"]:hover {
    background:red;
    color: black;
}
